@require './fading_entrances/_index';
@require './fading_exits/_index';
@require './scaling_entrances/_index';
@require './scaling_exits/_index';
@require './sliding_entrances/_index';
@require './sliding_exits/_index';
