@require './fadeIn';
@require './fadeInDown';
@require './fadeInDownBig';
@require './fadeInDownSmall';
@require './fadeInLeft';
@require './fadeInLeftBig';
@require './fadeInLeftSmall';
@require './fadeInLeftText';
@require './fadeInRight';
@require './fadeInRightBig';
@require './fadeInRightSmall';
@require './fadeInUp';
@require './fadeInUpBig';
@require './fadeInUpSmall';
