.root
  height 100%
  width 100%
  overflow hidden
  position relative
  display flex
  align-items center
  justify-content center
  position absolute
  left 0
  top 0
  z-index 10
  background-color transparent
 