@keyframes slideOutDownConst {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100vh, 0);
  }
}

.slideOutDownConst {
  animation-name: slideOutDownConst;
}
