@require './fadeOut';
@require './fadeOutDown';
@require './fadeOutDownBig';
@require './fadeOutDownSmall';
@require './fadeOutLeft';
@require './fadeOutLeftBig';
@require './fadeOutLeftSmall';
@require './fadeOutRight';
@require './fadeOutRightBig';
@require './fadeOutRightSmall';
@require './fadeOutUp';
@require './fadeOutUpBig';
@require './fadeOutUpSmall';
@require './fadeOutUpAvarage';
