@keyframes fadeOutUpAvarage {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
}

.fadeOutUpAvarage {
  animation-name: fadeOutUpAvarage;
}
