// color
$pink = #DF3E62
$lightPink = #FA2A5D
$darkPink = #C91F48
$blue = #0071ff
$darkBlue = #0050b3
$white = #fff
$black = #000
$gray = #151515
$middleGray = #444444
$blueRibbon = #0071ff
$alabaster = #f8f8f8
$alabaster-s = #f7f7f7
$doveGray = #727272
$wildSand = #f5f5f5
$wildWatermelon = #FF6B81;
$alto = #D3D3D3;
$nobel = #B3B3B3;
$silverChalice = #b2b2b2;
$ceriseRed = #DF3E62;
$mineShaft = #262626;
$silver = #b8b8b8;
$pink = #fa2a5d;
$maroon-flush = #C91F48;
$azalea = #F7CED8;

$cod-gray = #1C1919;
$cod-gray-drak = #0A0909;

$turquoise = #49d4cc;

$outer-space = #1D2827;
$tango = #e37416;
$emerald = #4AD585;

$dustyGray = #9c9c9c;

//opacity
$translucent = .7

//duration
$speed-fast = .2

//indent

$indent = 45px

@import "query.styl"
