.root
  transition-property color, opacity
  // transition-duration $speed-fast
  white-space pre-line

  a
    color #F2255F
    transition color 0.2s ease-out
    text-decoration none

.fontFamily
  &-mont
    font-family 'Pfencore', 'Helvetica', sans-serif

  &-play
    font-family 'PlayfairDisplay', 'Georgia', serif

.size
  &-small-xs
    font-size 10px
    line-height normal

  &-small-s
    font-size 12px
    line-height normal

  &-small
    font-size 13px
    line-height 1.3

    +media-vk-table()
      font-size 14px

  &-normal
    font-size 14px
    line-height 1.3

    +media-vk-table()
      font-size 15px
      line-height 1.2

  &-medium-16-fix
    font-size 16px
    line-height 1.3

  &-medium
    font-size 16px
    line-height 1.5

    +media-vk-table()
      font-size 13px
      line-height 1.2

  &-medium-xl
    font-size 18px
    line-height 1.2

  &-big-s
    font-size 20px
    line-height 1.2

    +media-vk-table()
      font-size 15px

  &-big
    font-size: 25px 
    line-height: 40px 
    letter-spacing: 0.03em

    +media-vk-table()
      font-size: 20px

  &-big-m
    font-size 30px
    line-height 48px

    +media-vk-table()
      font-size 24px
      line-height 32px

  &-big-xl
    font-size: 33px
    line-height: 44px
    letter-spacing: 0.04em

    +media-vk-table()
      font-size: 25px

  &-large-s
    font-size 44px

  &-large
    font-size 48px

.fontWeight
  &-black
    font-weight 900

  &-extra-bold
    font-weight 800

  &-bold
    font-weight 700

  &-semi-bold
    font-weight 600

  &-medium
    font-weight 500

  &-normal
    font-weight 400

.letterSpacing
  &-small
    letter-spacing 0.9px

  &-one
    letter-spacing 1px


.color
  &-white
    color $white

  &-black
    color $black

  &-cod-gray
    color $cod-gray

  &-gray
    color $gray

  &-silver-chalice
    color $silverChalice

  &-silver
    color $silver

.opacity
  &-translucent
    opacity .7

  &-lessHalf
    opacity .4


.textAlign
  &-left
    text-align left

  &-center
    text-align center

  &-right
    text-align right


.textTransform
  &-uppercase
    text-transform uppercase

  &-none
    text-transform none


.whiteSpace
  &-normal
    white-space normal

  &-nowrap
    white-space nowrap

  &-prewrap
    white-space pre-wrap



.hover
  cursor pointer

  &-opacity
    +hoverSupport()
      opacity 1

.pointerEvents
  &-none
    pointer-events none
    cursor default

