@import 'fonts'
@import 'reset'

body
  font-family 'Mont', 'Helvetica', sans-serif
  -webkit-font-smoothing: antialiased;

*
  outline none
  font-stretch normal
  letter-spacing normal

a
  text-decoration none

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"]
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

#root{
  min-height:100%
}
